.signup-form {
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: 22px 30px;
  button {
    background-color: #0077b6;
  }
  h3 {
    color: black;
    font-size: 32px;
    font-weight: 400;
    margin: 20px 0;
  }
}
